<div class="contain">

    <h2 class="activites-header">Activites</h2>
    <p class="details">I will never be this young again. 
      Ever. Oh damn… I just got older.
        I want more detailed information.
        We need to rent a room for our party.</p>

    <h3>FITNESS</h3>
    <div class="activites-card">
        <img src="assets/gym.jpg" alt="">
        <p class="details">I was very proud of my nickname throughout high school but today- I couldn’t be any different to what my nickname was.
          If the Easter Bunny and the Tooth Fairy had babies would they take your teeth and leave chocolate for you?
          I want to buy a onesie… but know it won’t suit me.</p>
    </div>
  
    <h3>FOOD</h3>
    <div class="activites-card">
        <img src="assets/food.jpg" alt="">
        <p class="details">I was very proud of my nickname throughout high school but today- I couldn’t be any different to what my nickname was.
          If the Easter Bunny and the Tooth Fairy had babies would they take your teeth and leave chocolate for you?
          I want to buy a onesie… but know it won’t suit me.</p>
    </div>
    
    <h3>SIGHTS</h3>
    <div class="activites-card">
        <img src="assets/sight.jpg" alt="">
        <p class="details">I was very proud of my nickname throughout high school but today- I couldn’t be any different to what my nickname was.
          If the Easter Bunny and the Tooth Fairy had babies would they take your teeth and leave chocolate for you?
          I want to buy a onesie… but know it won’t suit me.</p>
    </div>



  </div>
  