<div class="contain">

  <h2 class="apt-header">Apartments</h2>
  <h3 class="details">Details: </h3>
  <p class="details"> I am never at home on Sundays.
      There was no ice cream in the freezer, nor did they have money to go to the store.
      She only paints with bold colors; she does not like pastels.
      The lake is a long way from here.</p>

  <div class="apt-card">
    <img src="/assets/apple1.jpg" alt="">
    <div class="card-text">
      <h3>Apartment Apple</h3>
      <p>I was very proud of my nickname throughout high school but today- I couldn’t be any different to what my nickname was.
        If the Easter Bunny and the Tooth Fairy had babies would they take your teeth and leave chocolate for you?
        I want to buy a onesie… but know it won’t suit me.</p>
        <div class="button-div">
          <button>BOOK</button>
        </div>
    </div>
  </div>
  
</div>
