<div class="contain">

  <h2 class="apt-header">Apartments</h2>
  <h3 class="details">Details: </h3>
  <p class="details"> I am never at home on Sundays.
      There was no ice cream in the freezer, nor did they have money to go to the store.
      She only paints with bold colors; she does not like pastels.
      The lake is a long way from here.</p>
  <div  *ngFor="let apartment of apartments" class="apt-card">
    <img src="{{apartment.image}}" alt="">
    <div class="card-text">
      <h1 class="to-uppercase">{{apartment.name}}</h1>
      <p>{{apartment.details}}</p>
      <h3>Rooms: {{apartment.rooms}} Capacity: {{apartment.capacity}}</h3>
      <h2>Nightly Price: ${{apartment.nightlyPrice}}.00</h2>
        <div class="button-div">
          <button [routerLink]="['/book-now']">BOOK</button>
        </div>
    </div>
  </div>
</div>
