/* ---- reset ---- */

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: Avenir, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
  
/* ---- layout ---- */

.contain{
    margin: 0 10px;
    color: rgb(56, 56, 56);
}