<header>
    <nav class="nav-bar contain-padding">
      <img [routerLink]="['/']" class="logo-img" src="/assets/baby.png" alt="logo">
      <div class="nav-links">
        <a [routerLink]="['/apartments']"> Apartments </a>
        <a [routerLink]="['/activites']"> Activites </a>
        <a [routerLink]="['/book-now']"> Book Now </a>
        <a [routerLink]="['/manage-booking']"> <p>Manage</p> </a>
      </div>
    </nav>
</header>

<div>
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer">
    <ul>
      <h3>Contact Info</h3>
      <li class="box-text" >Phone: +1-352-286-8018</li>
      <li class="box-text" >Email: juliosbnb@gmail.com</li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</footer>