/* ---- reset ---- */

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
  
/* ---- layout ---- */

.container {
    margin: 0 10px;
}

.contain-padding{
    padding: 0 10px;
}

@media (min-width: 768px) {
    .container {
        max-width: 728px;
    }
}

.logo-img{
    height: 50px;
    margin: auto 0;
}

/* ---- components ---- */

header .nav-bar{
    background-color: rgb(180, 219, 255);
    height: 60px;
}

.nav-logo{
    align-content: center;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: rgb(90, 90, 90);
}

.footer{
    background-color: rgb(180, 219, 255);
    color: rgb(90, 90, 90);
}

.footer ul{
    margin: 0;
    padding: 0;
}

.footer ul h3{
    margin: 0;
    padding: 10px 15px;
}

.footer ul li{
    list-style-type: none;
}

.box-text {
    padding: 0px 15px 10px;
}