<header>
    <nav class="nav-bar contain-padding">
      <div class="nav-logo">
        <img [routerLink]="['/']" class="logo-img" src="/assets/baby.png" alt="logo">
      </div>
      <div class="nav-links">
        <a [routerLink]="['/']"> Apartments </a>
        <a [routerLink]="['/']"> Activites </a>
        <a [routerLink]="['/']"> Booking </a>
        <a [routerLink]="['/']"> Manage </a>
      </div>
    </nav>
</header>

<div>
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer">
    <ul>
      <h3>Contact Info</h3>
      <li class="box-text" >Phone: +1-352-286-8018</li>
      <li class="box-text" >Email: juliosbnb@gmail.com</li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</footer>